language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy2.7-6.0"
  - "pypy3.5-6.0"
# command to install dependencies
install:
    - if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then pip install -r requirements-py3.txt; else pip install -r requirements-py2.txt; fi
# command to run tests
script: nosetests tests
sudo: false
addons:
  apt:
    packages:
    - sqlite3
    sources:
    - travis-ci/sqlite3
